.votes {
    width: 90%;
    max-width: 50rem; 
    text-align: center;
    margin: 1rem auto;
    padding: 0.5rem;
  }

  .votes ul {
    list-style: none;
    font-weight: bold;
  }
  
  .votes li {
    
    font-weight: bold;
  }

  .votes p{
    font-weight: bold;
  }

  .votes button {
    font: inherit;
    cursor: pointer;
    background-color: rgb(72, 72, 243);
    border: 1px solid rgb(123, 123, 224);
    padding: 0.1rem 0.5rem;
    border-radius: 25px;
    
  }
  
  .votes button:hover,
  .votes button:active {
    background-color: rgb(123, 123, 224);
    border-color: rgb(123, 123, 224);
    color: white;
  }
  
  .votes .button--alt {
    color:rgb(123, 123, 224);
  }
  
  .actions .button {
    background-color:rgb(123, 123, 224);
    color: white;
  }
  
  
